@using Spg.KaufMyStuff.DomainModel.Dtos;
@model LoginDto

<form method="post">
    <input type="text" value="@Model.UserName" placeholder="Username..." />
    <button type="submit">Login</button>
</form>

