@using Spg.KaufMyStuff.DomainModel.Dtos;
@model LoginDto

<form method="post">
    <label for="username">Username:</label>
    <input id="username" type="text" asp-for="@Model.UserName" placeholder="Username..." />
    <button type="submit">Login</button>
</form>

