<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a href="http://www.xy.at/users">Users die nicht funktionieren</a>
</p>

@section Scripts
{
    <script src="http://www.xy.at/api/users"></script>
}